* {
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
}

.box {
	/* margin: 100px auto; */
	/* width: 350px; */
	height: 50px;
}

.outside {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #292c3b; */
	background-color: white;
}

.container-1 {
	width: 600px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
}

.container-1 input#search {
	width: 600px;
	height: 50px;
	background: rgb(235, 234, 234);
	border: none;
	font-size: 10pt;
	color: #63717f;
	padding-right: 45px;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
	color: #65737e;
}

.container-1 input#search:-moz-placeholder {
	/* Firefox 18- */
	color: #65737e;
}

.container-1 input#search::-moz-placeholder {
	/* Firefox 19+ */
	color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
	color: #65737e;
}

.container-1 .icon {
	display: flex;
	align-items: center;
	padding: 15px;
	z-index: 1;
	color: white;
	background-color: #4788ff;
	height: 100%;
	margin-top: auto;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.blue {
	background-color: #4788ff;
}

/* Results Section */
.result {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 15px;
	font-size: 24px;
}

span#result {
	margin-right: 10px;
}

button {
	background: none;
	border: none;
}

button i {
	font-size: 22px;
	background-color: #4788ff;
	color: white;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
}

.hidden {
	display: none;
}
